.welcome-layout{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.welcome-text-structure{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.welcome-text{
    font-size: 5vh;
    font-weight: 500;
    margin: 15px;
    display: flex;
    align-items: center;
}

.loginOrRegister{
    height: 3rem;
    font-size: large;
}