<div style="display: flex; justify-content: space-around;">
    <div style="float: left;">
        <h1>Log In</h1>
        <form (ngSubmit)="onLoginSubmit(loginForm)" #loginForm="ngForm">
            <label for="LogInUserName">UserName: </label>
            <input type="text" id="LogInUserName" name="LogInUserName" ngModel required>
            <label for="LogInPassword">Password: </label>
            <input type="text" id="LogInPassword" name="LogInPassword" ngModel required>
            <button type="submit">Log In</button>
        </form>

    </div>
    <div>
        <hr width="1" size="500">
    </div>
    <div style="float: right;">
        <h1>Register</h1>
        <form (ngSubmit)="onRegisterSubmit(registerForm)" #registerForm="ngForm">
            <label for="RegisterUserName">User Name: </label>
            <input type="text" id="RegisterUserName" name="RegisterUserName" ngModel required>
            <label for="RegisterPassword">Password: </label>
            <input type="text" id="RegisterPassword" name="RegisterPassword" ngModel required>
            <button type="submit">Register</button>
        </form>
    </div>
</div>