html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.task-items{
    display: block;
    justify-content: center;
    flex-direction: column;
    /* cursor: grab; */
    cursor: move;
}

.task-items :hover{
    cursor: pointer;
}

.task-info{
    display: flex;
    justify-content: center;
    margin: 5px;
    border: 1px solid black;
}