.list-box{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    background-color: white;
    border-radius: 5px;
}

.list-box-container{
    height: 15rem;
    width: 15rem;
    overflow-y: scroll;
    border-radius: 5px;
    

}

.task-items{
    display: block;
    justify-content: center;
    flex-direction: column;
    /* cursor: grab; */
    cursor: move;
}

.task-items :hover{
    cursor: pointer;
}

.task-info{
    display: flex;
    justify-content: center;
    margin: 5px;
    border: 1px solid black;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
